<div class="container">
  <mat-stepper [linear]="isLinear" #stepper>
    <!-- Subscription Parameters -->
    <mat-step [stepControl]="subscriptionParameters">
      <form [formGroup]="subscriptionParameters">
        <ng-template matStepLabel>Subscription parameters:</ng-template>
        <mat-grid-list cols="3" rowHeight="100px">
          <mat-grid-tile>
            <mat-form-field appearance="fill">
              <mat-label>Duration</mat-label>
              <mat-select required formControlName="duration">
                <mat-option *ngFor="let duration of durations" [value]="duration.value">
                  {{duration.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="fill">
              <mat-label>Amount GB</mat-label>
              <mat-select required formControlName="amount">
                <mat-option *ngFor="let amount of amounts" [value]="amount.value">
                  {{amount.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <section class="example-section">
              <mat-checkbox formControlName="upfront" class="example-margin">Upfront payment: yes/no</mat-checkbox>
            </section>
          </mat-grid-tile>
        </mat-grid-list>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>


    <!-- Payment Data -->
    <mat-step [stepControl]="paymentData">
      <form [formGroup]="paymentData">
        <ng-template matStepLabel>Payement Data:</ng-template>
        <mat-grid-list cols="2" rowHeight="100px">
          <mat-grid-tile colspan="2" rowspan="1">
            <mat-form-field appearance="fill" class="width-100">
              <mat-label>Card number</mat-label>
              <input formControlName="cardNumber" type="text" matInput placeholder="xxxx xxxx xxxx xxxx" mask="0000 0000 0000 0000" />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile class="left">
            <mat-form-field appearance="fill">
              <mat-label>Card Expiration Date</mat-label>
              <input formControlName="cardExpiration" type="text" matInput placeholder="xx / xx" mask="00 / 00"  />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile class="right">
            <mat-form-field appearance="fill">
              <mat-label>Card Security Code</mat-label>
              <input formControlName="cardSecurityCode" type="password" matInput mask="0009" />
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
