<form [formGroup]="finalizationGroup">
  <ng-template matStepLabel>You are almost done!</ng-template>
  <mat-grid-list cols="1" rowHeight="80px">
    <mat-grid-tile colspan="1" rowspan="1" class="left">
      <mat-label class="font-size-2"><b>Payement Summary:</b></mat-label>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" class="left">
      <b>Selected Subscription:</b> {{findOptionTextBy('duration', orderForm.get('subParams.duration')?.value)?.text}}
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" class="left">
      <b>Selected Amount:</b> {{findOptionTextBy('amount', orderForm.get('subParams.amount')?.value)?.text}}
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" class="left">
      <b>Price per GB:</b> {{findOptionTextBy('duration', orderForm.get('subParams.duration')?.value)?.price_per_gb}} $
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" class="left">
      <b>Upfront payement:</b> {{findOptionTextBy('upfront')}}
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" class="left">
      <b>Total price:</b> {{total}} $
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" class="left">
      <mat-form-field appearance="fill" class="width-100">
        <mat-label>Your Email</mat-label>
        <input formControlName="userEmail" type="text" matInput placeholder="example@example.com"/>
        <mat-error *ngIf="finalizationGroup.get('userEmail')?.errors">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" class="left">
      <section class="example-section">
        <mat-checkbox formControlName="termsCondition" class="example-margin">I accepte Terms and conditions.
        </mat-checkbox>
      </section>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="next-previous-group">
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button [disabled]="orderForm.invalid || !orderForm.get('finalization.termsCondition')?.value"
              (click)="finishPayement()">Finish
      </button>
    </div>
  </div>
</form>
